<br>
<ul>
    <li>Argumentos de entrada => <b>{{ argsEntrada }}</b></li>
    <li>Path de ejecución => <b>{{ pathEjecucion }}</b></li>
    <li>Nombre de la plataforma (sistema operativo) => <b>{{ nombrePlataforma }}</b></li>
    <li>Process id => <b>{{ processId }}</b></li>
    <li>Versión de Node.js => <b>{{ versionNode }}</b></li>
    <li>Carpeta del proyecto => <b>{{ carpetaProyecto }}</b></li>
    <li>Memoria total reservada (rss) => <b>{{ rss }}</b></li>
    <li>Número de procesadores  => <b>{{ nroProcesadores }}</b></li>
</ul>